<%= f.error_messages %>
<div class="form__row">
    <div class="form__label">
        <%= f.label :name, t(:'文件夹名') %>
    </div>
    <div class="form__control">
        <%= f.text_field :name, { :class => 'text_input' } %>
    </div>
</div>
<div class="form-btns clearfix">
    <button type="submit" class="button--light">保 存</button>
    <%= link_to '返 回', @folder.parent, { :class => 'button--light default link-to-button' } %>
</div>
